The **explode**() method in pandas is used to transform a column containing lists or arrays into multiple rows, duplicating the other column values for each element in the list or array. It "explodes" or expands the column by creating new rows.

Example 1

In [4]:
import pandas as pd

df= pd.DataFrame({'a':[[1,2],[4,5]], 'b':[11,13]})

print(df)

print(df.explode('a'))

        a   b
0  [1, 2]  11
1  [4, 5]  13
   a   b
0  1  11
0  2  11
1  4  13
1  5  13

Example 2

In [6]:
# Create DataFrame with social media posts
data = {'User': ['UserA', 'UserB', 'UserC'],
        'Hashtags': [['food', 'yum'], ['travel', 'adventure'], ['nature', 'photography', 'beautiful']]}
df = pd.DataFrame(data)

df_exploded = df.explode('Hashtags')
print(df_exploded)

    User     Hashtags
0  UserA         food
0  UserA          yum
1  UserB       travel
1  UserB    adventure
2  UserC       nature
2  UserC  photography
2  UserC    beautiful

Example 3

In [8]:
# Create DataFrame with survey data
data = {'Respondent': ['A', 'B', 'C'],
        'Options': [['Option1', 'Option2'], ['Option2', 'Option3'], ['Option1', 'Option3']]}
df = pd.DataFrame(data)

df_exploded = df.explode('Options')
print(df_exploded)

  Respondent  Options
0          A  Option1
0          A  Option2
1          B  Option2
1          B  Option3
2          C  Option1
2          C  Option3